@model IEnumerable<AplikacjaARPIdeas.Models.Worker>
@{
    ViewData["Title"] = "Arp Ideas";
}

<div class="jumbotron">
    <h1>ARP Ideas</h1>
</div>


    <div>
        <h2>@Model</h2>
        
    </div>


<div class="row">

</div>